/* intro and email sign up background */
$darkBlueIntro: hsl(217, 28%, 15%);
/* main background */
$darkBlueMain: hsl(218, 28%, 13%);
/* footer background */
$darkBlueFooter: hsl(216, 53%, 9%);
/* testimonials background */
$darkBlueTestimonials: hsl(219, 30%, 18%);
/* inside call-to-action gradient */
$cyan: hsl(176, 68%, 64%);
/* inside call-to-action gradient */
$blue: hsl(198, 60%, 50%);
/* placeholder */
$lightGrey: #bdc3c7;
/* neutral */
$white: hsl(0, 0%, 100%);
/* padding mobile xs*/
$padMobileXs: 15px;
/* padding mobile */
$padMobile: 55px;
