@import "variables";
html {
  font-size: 24px;
}
body {
  font-family: "Open Sans", sans-serif;
  background: $darkBlueMain;
  color: $white;
  text-align: center;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 3.5rem;
  border-radius: 3.5rem;
  width: 65%;
  color: $white;
  background: $blue;
  font-size: 1.2rem;
  font-weight: 700;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  font-size: 1.1rem;
}

::placeholder {
  color: $lightGrey;
  font-size: 0.8rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
header,
li,
button {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem $padMobile;
  background: $darkBlueIntro;
  padding-bottom: 33rem;

  img {
    width: 7rem;
  }
  ul {
    align-items: center;
    display: flex;
    margin: 0;
    li {
      margin: 0;
      margin-left: 2rem;
      font-size: 1rem;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
  position: relative;
  .home__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      padding: 0 $padMobile;
      z-index: 2;
      margin-top: -17rem;
      margin-bottom: 1.5rem;
    }
    p {
      padding: 0 $padMobile;
      margin-bottom: 2.5rem;
    }
  }
  .home__img-intro {
    width: 90%;
    margin-bottom: 3rem;
    z-index: 2;
    position: absolute;
    top: -29rem;
    left: 0;
    right: 0;
    margin: auto;
  }
  .home__background {
    width: 100%;
    z-index: 1;
    transform: translateY(-100%);
  }
}
.home__background-desktop {
  display: none;
}
.features {
  margin-bottom: 5rem;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      margin-bottom: 6.5rem;
      img {
        width: 5rem;
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 1.4rem;
      }
      p {
        width: 90%;
        margin: auto;
      }
    }
  }
}
.stay-productive {
  margin-bottom: 5rem;
  padding: 0 $padMobile;
  img {
    width: 90%;
    margin-bottom: 3rem;
  }
  h2 {
    font-size: 1.4rem;
    text-align: left;
  }
  p {
    text-align: left;
  }
  .stay-productive___link {
    display: flex;
    align-items: center;
    margin-bottom: 13rem;
    a {
      text-decoration: none;
      color: $cyan;
      border-bottom: 2px solid $cyan;
      text-align: left;
      padding-bottom: 0.3rem;
      display: flex;
      align-items: center;
      img {
        margin: 0;
        margin-left: 0.5rem;
        width: 1.2rem;
      }
    }
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 15rem;
  & > img {
    position: absolute;
    left: 9%;
    top: -1.9rem;
  }
  .card {
    width: 86%;
    margin: auto;
    background: $darkBlueTestimonials;
    margin-bottom: 1.8rem;
    padding: 2rem 1.5rem;
    border-radius: 8px;
    p {
      font-size: 0.8rem;
      text-align: left;
      line-height: 200%;
    }
    .card__profile {
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
      }
      .card__info {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-items: center;
        strong {
          font-size: 0.85rem;
          margin: 0;
          margin-bottom: 0.1rem;
        }
        p {
          margin: 0;
          line-height: normal;
          font-size: 0.6rem;
        }
      }
    }
  }
}

footer {
  background: $darkBlueFooter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 $padMobile;
  & > * {
    max-width: 100%;
  }
  .early-access {
    transform: translateY(-50%);
    background: $darkBlueIntro;
    box-shadow: 5px 5px 33px 1px rgba(0, 0, 0, 0.51);
    border-radius: 10px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      margin-bottom: 1.3rem;
    }
    p {
      margin-bottom: 2rem;
    }
    .buttons {
      input {
        @extend button;
        width: 100%;
        background: $white;
        margin-bottom: 2rem;
        padding: 0 2rem;
        color: $white;
      }
      button {
        width: 100%;
      }
    }
  }
  & > img {
    margin-top: -9rem;
    margin-bottom: 3rem;
    align-self: flex-start;
    width: 13.5rem;
    max-width: 100%;
  }
  .footer__info {
    margin-bottom: 5rem;
    li {
      display: flex;
      align-items: flex-start;
      i {
        margin-right: 2rem;
        margin-top: 0.3rem;
        font-size: 1.2rem;
      }
    }
  }
  .footer__links {
    align-self: flex-start;

    li {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
  .social-media {
    display: flex;
    margin: 4rem 0;
    .icon {
      margin: 0 0.5rem;
      border: 1px solid $white;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
    }
  }
}

/* media query xs */

@media (max-width: 670px) {
  html {
    font-size: 18px;
  }
  .main {
    padding: 0 $padMobileXs;
  }
  footer {
    padding: 0 $padMobileXs;
    & > img {
      margin-top: -13rem;
    }
  }
  .card__container {
    margin-bottom: 25rem;
  }
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem $padMobileXs;
    padding-bottom: 33rem;
    img {
      margin-bottom: 2rem;
      width: 10rem;
    }
    ul {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
  .home {
    padding-bottom: 10rem;

    h1 {
      padding: 0 $padMobileXs;
      margin-top: -17rem;
      margin-bottom: 1.5rem;
    }
    p {
      padding: 0 $padMobileXs;
      margin-bottom: 2.5rem;
    }
    .home__img-intro {
      width: 90%;
      margin-bottom: 3rem;
      z-index: 2;
      position: absolute;
      top: -29rem;
      left: 0;
      right: 0;
      margin: auto;
    }
    .home__background {
      width: 100%;
      z-index: 1;

      transform: translateY(-100%);
    }
  }
  .stay-productive {
    padding: 0 $padMobileXs;
  }
}

@import "desktop-view";
